@use "sass:math";
@use "./mixins" as m;

.project {
	@include m.adaptiveValue("padding-top", 150, 70);
	// .project__container
	&__container {
	}
	// .project__title
	&__title {
		&:not(:last-child) {
			@include m.adaptiveValue("margin-bottom", 110, 50);
		}
	}

	// .project__content
	&__content {
	}
}
.work {
	display: flex;
	flex-direction: column;
	@include m.adaptiveValue("gap", 100, 50);

	// .work__item
	&__item {
		min-height: m.toRem(540);
		background-color: var(--bg);
		border-radius: m.toRem(8);
		display: grid;
		grid-template-columns: 0.9fr 1.1fr;
		gap: m.toRem(40);
		box-shadow: m.toRem(10) m.toRem(10) m.toRem(15) var(--dark-color);
		@media (max-width: m.toEm(767.98)) {
			grid-template-columns: 1fr;
			gap: m.toRem(20);
		}
	}
	
	// .work__img
	&__img {
		width: 100%;
		position: relative;
		// max-width: m.toRem(545);
		// aspect-ratio: 545/540;
		overflow: hidden;
		border-radius: m.toRem(8) 0 0 m.toRem(8);
		box-shadow: m.toRem(10) m.toRem(10) m.toRem(15) var(--dark-color);
		@media (max-width: m.toEm(767.98)) {
			border-radius: m.toRem(8);
			max-width:none;
			aspect-ratio: 1;
		}

		img {
			position: absolute;
			width: 100%;
			height: 116%;
			inset: -8% 0 -8% 0 ;
			object-fit: cover;
			transition: transform 0.3s linear;
			will-change: transform;
			object-position: right;

			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.01);
				}
			}
			@media (max-width: m.toEm(767.98)) {
				inset: -12% 0 -12% 0 ;
				height: 130%;
		}
		}
	}
	&__parallax{
			position: absolute;
			inset: 0;
		width: 100%;
		height: 100%;
	}
	// .work__content
	&__content {
		@include m.adaptiveValue("padding-block", 50, 30);
		display: flex;
		flex-direction: column;
		gap: m.toRem(20);
		line-height: 1.2;
		@media (max-width: m.toEm(767.98)) {
			padding-inline: m.toRem(20);
		}
	}
	// .work__desc
	&__desc {
		display: flex;
		flex-direction: column;
		gap: m.toRem(14);
		&--grow {
			flex-grow: 1;
		}
		&--row {
			flex-direction: row;
		}
	}
	// .work__info
	&__info {
		font-size: m.toRem(14);
		text-decoration: underline;
		text-decoration-color: var(--accent-color);
		text-underline-offset: m.toRem(4);
		font-style: italic;
		letter-spacing: m.toRem(1);
		text-transform: uppercase;

		& + * {
			padding-left: m.toRem(20);
		}
	}
	// .work__title
	&__title {
		font-size: m.toRem(24);
		text-shadow: m.toRem(0) m.toRem(0) m.toRem(15) var(--light-accent-color);
		padding-bottom: m.toRem(10);
	}
	// .work__type
	&__type {
		color: var(--accent-color);
	}
	// .work__stack
	&__stack {
		display: flex;
		gap: m.toRem(10);
		flex-wrap: wrap;
		li {
			padding: m.toRem(10) m.toRem(8);
			background-color: var(--bg);
			border-radius: m.toRem(8);
		}
	}
	// .work__features
	&__features {
		font-size: m.toRem(14);
		li {
			position: relative;
			&::before {
				content: "✔";
				color: var(--accent-color);
				position: absolute;
				left: -1.5em;
			}
		}
	}

	& .btn {
		margin-top: m.toRem(8);
		font-weight: 600;
		font-size: m.toRem(16);
		padding: m.toRem(10) m.toRem(30);
		align-self: flex-start;
	}
}
